.mediaContainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 40px;
    ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    .mediaCardContainer{
        position: relative;

        .mediaThumb{
            width: 750px;
            object-fit: cover;
            object-position: -300px;
        }

        .mediaImg{
            width: 300px;
            height: 400px;
            background-image: url(../../../src/imgs/no-image/coming-soon.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -45px;
            border-radius: 10px;
            overflow: hidden;
        }
        
        .mediaCard{
            pointer-events: none;
            background-color: rgba(0, 0, 0, 0.562);
            color: #fff;
            width: 300px;
            height: 400px;
            display: none;
            position: absolute;
            top: 50%;  
            left: 50%; 
            transform: translate(-50%, -50%);
            border-radius: 10px;
            overflow: hidden;

            .language_rating{
                .flag, .language{
                    width: 20px;
                    margin-right: 20px;
                }
            }
        }

        .mediaImg:hover{
            filter: blur(8px);
        }

        .mediaImg:hover + .mediaCard{
            display: flex;
            flex-direction: column;
            padding: 30px 30px;
            font-size: 15px;
        }
        
    }
        

}
